.file_title{

}

.file_num{
  font-size:11px;
  font-family:Arial;
}

.cat_count{
  font-family:Arial;
  padding:6px;
  font-size:11px;
  border-right:0px;
}

.cf_desc{

}

/* admin/index.php */
.pic_li_border{
  list-style: none;
  background-position: center 16px;
  background-repeat: no-repeat;
  padding:0px;
  width:150px;
  height:185px;
  border:1px solid #cfcfcf;
  margin: 4px;
  float: left;
  position: relative;
}

.pic_bg{
  width: 150px;
  height: 185px;
  vertical-align:bottom;
  position:relative;
  background-image:url(images/film.gif);
}

.pic_title {
  font-size:11px;
  height:16px;
  line-height:16px;
	position: absolute;
	left: 19px;
	top: 0px;
	width: 112px;
	color: #f0f0f0;
	font-weight: normal;
	background-color: #0c0c0c;
	text-align:center;
	vertical-align:middle;
	overflow:hidden;
}

.pic_desc {
  font-size:11px;
  height:40px;
	position: absolute;
	left: 19px;
	bottom: 0px;
	width: 112px;
	color: #5f5f5f;
	font-weight: normal;
	background-color: #ffffff;
	text-align:left;
	overflow:hidden;
	line-height:13px;
	white-space:pre-wrap;
}

.video_info {
  font-size:11px;
  height:40px;
	position: absolute;
	left: 19px;
	bottom: 39px;
	width: 112px;
	color: #ffffff;
	font-weight: normal;
	background-color: rgb(102,0,0);
	text-align:left;
	overflow:hidden;
	line-height:13px;
	white-space:pre-wrap;
}

.mode_change{
  padding:2px 6px;
  border:1px solid gray;
  background-color:#F0F0F0;
  text-decoration:none;
}


.mode_change:hover{
  background-color:rgb(255,204,51);
  color:#000000;
  text-decoration:none;
}

#save_msg{
  float:right;
  color:rgb(0,153,204);
}


.MediaCate {
	margin: 6px;
	float: left;
	width: 140px;
	height: 200px;
	position: relative;
	cursor: pointer;
	padding:0px;
  background-color:rgb(235,235,235);
}

.MediaVideo {
	margin: 6px;
	float: left;
	width: 140px;
	height: 200px;
	position: relative;
	cursor: pointer;
	padding:0px;
  background-color:rgb(255,255,255);
}

.tp_index_pic{
	width:120px;
	background-color: rgb(0,0,0);
	margin:5px auto;
	background-color: rgb(255,255,255);
	border:1px solid #cfcfcf;
	padding:6px;
}


.tp_cate_title{
	width:130px;
	padding:4px 2px 4px 2px;
	text-align:center;
}

.tp_index_title{
	width:130px;
	padding:4px 2px 4px 2px;
}

.tp_index_title a{
	color: rgb(0,112,240);
	font-size: 12px;
}

.tp_index_creator{
	color: #FF8C00;
	overflow: hidden;
	font-size: 11px;
}

.tp_index_date{
	color: Gray;
	overflow: hidden;
	font-size: 10px;
}

.tp_index_counter{
	overflow: hidden;
	font-size: 11px;
}




div#code_results textarea{
	width: 96%;
	background-color: #FCFCFC;
	color: rgb(153,153,255);
	font-size: 11px;
	padding:8px;
}


.set_code{
	background-color: #000000;
	color:rgb(153,153,255);
	padding:2px 10px 2px 10px;
}

table.media{
	background-color: #000000;
	border:0px;
	border-collapse: collapse;
	width:auto;
}

td.media_file{
	text-align:center;
	vertical-align:top;
	margin:auto;
	padding:10px;
}

td.media_menu{

}

.media_title{
	font-size: 25px;
	border: 1px dotted Green;
	padding: 4px 0px 4px 10px;
	margin: 0px 0px 10px 0px;
	background-color: #FCFCFC;
}

.media_content{
	width: 100%;
	height:200px;
	overflow: auto;
	background-color: #FFFFFF;
}


table#tp_index{
}

table#tp_index td{
	padding: 4px;
	background-color: rgb(240,240,240);
}

