<link rel="stylesheet" type="text/css" media="screen" href="module.css" />
<link rel="stylesheet" type="text/css" media="screen" href="iconize.css" />
<{$bootstrap}>
<{$jquery}>

<script type="text/javascript">
  $(document).ready(function() {
    var $tabs = $("#jquery-tabs<{$randStr}>").tabs();
    var last_tab=$tabs.tabs("length")-1;
    <{$to_batch_upload}>

    <{$hide}>
    $("#file_where").change(function() {
      if ($("#file_where").val()=="up") {
         $("#file_up").show();
         $("#file_link").hide();
      } else{
         $("#file_link").show();
         $("#file_up").hide();
      }
    });

  });
</script>

<{$toolbar}>

<div id="jquery-tabs<{$randStr}>">

  <ul>
      <li><a href="#fragment-1"><span><{$smarty.const._MD_TADUP_UPLOAD_ONE}></span></a></li>
      <li><a href="jupload.php"><span><{$smarty.const._MD_TADUP_JAVA_UPLOAD}></span></a></li>
      <li><a href="batch_upload.php"><span><{$smarty.const._MD_TADUP_BATCH_UPLOAD}></span></a></li>
  </ul>
  <div id="fragment-1">

    <form action="uploads.php" method="post" id="myForm" enctype="multipart/form-data">
      <div class="row-fluid">
        <label class="span2">
          <{$smarty.const._MD_TADUP_SELECT_FOLDER}><{$smarty.const._TAD_FOR}>
        </label>

        <div class="span4">
          <select name="add_to_cat" size=1 class="span12">
            <option value="0"><{$smarty.const._MD_TADUP_ROOT}></option>
            <{$cate_select}>
          </select>
        </div>

        <div class="span6">
          <input type="text" name="creat_new_cat" class="span12" placeholder="<{$smarty.const._MD_TADUP_CREAT_NEW_CATE}>">
        </div>
      </div>


      <div class="row-fluid">
        <div class="span2">
          <select id="file_where" class="span12">
            <option value="up" <{$selected_up}>><{$smarty.const._MD_TADUP_UPLOAD}></option>
            <option value="link" <{$selected_link}>><{$smarty.const._MD_TADUP_LINK}></option>
          </select>
        </div>

        <div id="file_up" class="span10">
          <{$upform}>
        </div>

        <div id="file_link" class="span10">
          <input type="text" name="file_url" class="span12" value="<{$file_url}>" placeholder="<{$smarty.const._MD_TADUP_INPUT_LINK}>">
        </div>
      </div>

      <div class="row-fluid">
        <label class="span2">
          <{$smarty.const._MD_TADUP_FILE_DESC}>
        </label>
        <div class="span10">
          <input type="text" name="cf_desc" class="span12"  value="<{$cf_desc}>">
        </div>
      </div>


      <div class="row-fluid">
        <div class="span12 text-right">
          <{if $cfsn}>
            <label class="checkbox inline">
            <input type="checkbox" name="new_date" value="1"><{$smarty.const._MD_TADUP_UPDATE_TO_NEW_DATE}>
            </label>
          <{/if}>
          <input type="hidden" name="op" value="<{$op}>">
          <input type="hidden" name="cfsn" value="<{$cfsn}>">
          <button type="submit" class="btn btn-primary"><{$smarty.const._MD_TADUP_SAVE}></button>
        </div>
      </div>

    </form>
  </div>
</div>